/*---------- Hero wrap ---------*/
.hero-wrap {
  background: url(../image/hero/hero-desktop.png) no-repeat center;
  background-size: cover;
  width: 100%;
  padding: 8rem 0;
  position: relative;

  .title {
    font-size: 40px;
    font-weight: 600;
    color: $white;
    text-align: center;
  }
}
/*---------- End ---------*/

/*---------- Slider ---------*/
.hero-slider {
  background-color: $white;
  padding: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: translateY(-5rem);
  border-radius: 1rem;
  .item {
    text-align: center;
    img {
      margin: auto;
    }
    .title {
      font-size: 16px;
      margin-top: 1rem;
      font-weight: 600;
    }
  }
  .slick-dots {
    display: none !important;
  }

  .slick-next {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translate(0, -50%);
    background: transparent;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
  }

  .slick-prev {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translate(0, -50%);
    background: transparent;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
  }
}

/*---------- End ---------*/

.welcome-wrap {
  padding: 0 0 80px;
  img {
    min-width: 360px;
  }
  .row {
    .column {
      &:first-child {
        align-items: flex-start;
      }
      &:last-child {
        display: flex;
        align-items: center;
      }
    }
  }
}
/*---------- End ---------*/

/*---------- Accordion ---------*/

.accordion {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  margin-bottom: 10px;

  .accordion-header {
    padding: 0.828rem 0;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;

    @media screen and (max-width: 767px) {
      padding: 10px 1rem 10px 10px;
    }

    &::before {
      content: "\f054";
      font-size: 1rem;
      font-weight: 900;
      font-family: "Font Awesome 6 Free";
      position: absolute;
      right: 10px;
      transition: 0.3s all ease-in-out;

      @media screen and (max-width: 767px) {
        right: 5px;
      }
    }
  }

  &.active {
    .accordion-header {
      color: $primary-color;
      border-bottom: 3px solid $primary-color;
      &::before {
        transform: rotate(90deg);
      }
    }
  }

  .accordion-body {
    padding: 0 0.828rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height ease 0.5s;

    p {
      border-bottom: none;
    }
  }
}

/*---------- End ---------*/

/*---------- Model ---------*/
.model-wrap {
  .row-two{
    grid-template-columns: 55% 45%;
  }
  .content-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    .content-box {
      .title {
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
        color: $dark;
        margin-bottom: 1rem;
      }

      a {
        color: $primary-color;
        font-size: 16px;
        text-decoration: underline;
        font-weight: 600;
      }
    }
  }
}
/*---------- End ---------*/

/*---------- Marketplace ---------*/

.marketplace {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 8rem;
    width: 100%;
    background: url(../image/home/marketplace-bg.png);
  }

  .row-three{
    grid-template-columns: 30% 40% 30%;
  }

  .tab-container {
    width: 100%;
    .tab-buttons {
      .tab-button {
        font-size: 16px; 
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        margin-bottom: 10px;
        padding: 10px 0;
        position: relative;
        cursor: pointer;
        &.active {
          color: $primary-color;
          &::before {
            content: "\f054";
            font-size: 1rem;
            font-weight: 900;
            font-family: "Font Awesome 6 Free";
            position: absolute;
            right: 0;
            transition: 0.3s all ease-in-out;
          }
        }
      }
    }
  }

  .tab-content {
    .tab-pane {
      display: none;
      &.active {
        display: block;
      }
    }
  }
}

/*---------- End ---------*/

/*---------- Banner ---------*/
.banner-section {
  background-color: #02a3ad;
  position: relative;
  z-index: 1;
  padding: 120px 0;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: url(../image/banner/bg.png);
  }

  .content-box{
    .community-btn{
      border: none;
      border-radius: 3rem;
      background-color: $white;
      padding: 14px 24px;
      color: $primary-color;
      font-size: 16px;
      margin-top: 2rem;
    }
  }

  .main-heading {
    color: $white;
    text-align: left;
  }

  .content-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;

    .box {
      .title {
        font-size: 24px;
        color: $white;
        margin-bottom: 1.2rem;
      }
      p {
        color: $white;
      }
    }
  }
}
/*---------- End ---------*/